/* ----------------------- Home Page ----------------------- */
/* Container for the Cards */
.home-flex-container {
	display: flex;
	flex-wrap: wrap;
}

/* Mobile Menu */
@media (max-width: 765px) {
	/* All containers in front page */
	.home-flex-container > div {
		width: 98%;
		
	}
}

/* Front Page Main Content */
.home-main-content {
	width: 73%;
	min-height: 100px;
	margin: 10px 1%;
}

/* Table that holds index charts */
.home-index-container {
	width: 100%;
}

/* Island that holds the tables */
.home-index-chart-container {
	height: 250px;
	min-height: 120px;
	margin: 0px 10px;
	padding: 10px;
	background: white;
}

/* Chart Image Container (old index photo)  */
.home-chart-img-container {
	height: 100%;
}

@media (max-width: 500px) {
	/* Index Chart Containers */
	.home-chart-img-container {
		display: none;
	}
}

/* Chart Image (old index photo) */
.chartImg {
	width: 100%;
}

/* News Container */
.home-news-container {
	margin: 15px 0px;
	padding: 15px;
	background-color: white;
}

/* Div Article Holder */
.home-div-border {
	overflow: hidden;
	width: 100%;
	min-height: 120px;
	border: solid;
	border-color: #9bdc94;
	border-width: 4px 0px 0px 0px;
}
.home-div-border:hover {
	background-color: #f2f2f2;
	cursor: pointer;
}

/* News Text */
.home-div-border a {
	text-decoration: none;
}

/* Paragraph and title in class "innerTable" */
.home-div-border p,
h3 {
	vertical-align: top;
	font-size: 1em;
}

/* H3 in class "innerTable" */
.home-div-border h3 {
	margin: 15px 0px 10px 0px;
	color:#9bdc94;
	font-weight: bold;
}

/* Summary */
.home-div-border p {
	color: black;
}

/* News Item image */
.home-news-img {
	margin-top: 10px;
	margin: 10px;
	border-radius: 6px;
}

/* Front page Side Bar */
.home-side-bar {
	width: 23%;
	min-height: 100px;
	margin: 10px 1%;
}

/* box that contains stock price, stock change, stock change %, market cap */
.home-stock-price,
.home-stock-change,
.home-stock-change-pct {
	padding: 1px 4px;
	color: black;
	text-align: right;
}

.home-crypto-odd {
	background-color: #f2f2f2;
}

summary::-webkit-details-marker { display: none; }