
/* Stocks Container Settings */
.stocks-container {
	margin-bottom: 1.5em; /* space between table and <p> */
}

/* Table within <element class="stocks-container> Settings */
.stocks-container table {
	width: 100%;
	font-size: 1.1em;
}

/* Stocks symbol Settings */
.stock-symbol {
	width: 12%;
	padding: 2px 4px 2px 0px;
}

/* classes: stock price, stock change, stock change pct, stock mkt cap, Settings*/
.stock-price,
.stock-change,
.stock-change-pct,
.stock-mkt-cap {
	color: black;
	width: 22%;
	text-align: right;
	padding: 2px 4px;
}

/* MultiDisplay Settings */
@media (max-width: 576px) {
	.stocks-container table { margin-bottom: 3em; }
	.stock-mkt-cap { display: none; }
	.stock-symbol { width: 16%; }
	.stock-price, .stock-change, .stock-change-pct { width: 28%; }
	td.stock-symbol, td.stock-price, td.stock-change, td.stock-change-pct {
		padding-top: 1em;
		padding-bottom: 1em;
	}
}

/* Summary Hover Settings */
summary:hover { cursor: pointer; }
summary::-webkit-details-marker { display: none; }